In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
scx=StandardScaler()
x_train=scx.fit_transform(x_train)
x_test=scx.transform(x_test)

In [14]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.transform(y_test)

In [15]:
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':["squared_error","absolute_error","friedman_mse","poisson"],
'max_features': ["sqrt","log2",None],
'splitter':["best","random"]}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,cv=5,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 179, in fit
    "Some value(s) of y are negative which is"
ValueError: Some value(s) of y are negative which is not allowed for Poisson regression.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.59965501 0.60161574 0.65149005 0.6081017  0.67408081 0.6019591
 0.56692848 0.6390736  0.60433272 0.62520442 0.63334196 0.6567331
 0.64577195 0.65163507 0.66425438 0.5456956  0.66749983 0.68197406
        nan        nan        nan        nan        nan        nan]
  category=UserWarning,

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2', None],
                         'splitter': ['best', 'random']},
             verbose=3)

In [17]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': None, 'splitter': 'random'}: 0.6887270042498229

In [18]:
table=pd.DataFrame.from_dict(re)

In [19]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007292,6.876148e-03,0.000617,0.000821,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.774775,0.464811,0.469667,0.626061,0.662961,0.599655,0.118703,16
1,0.003539,6.096068e-03,0.000226,0.000452,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.679635,0.598858,0.601194,0.517209,0.611183,0.601616,0.051596,15
2,0.003125,6.250191e-03,0.003125,0.006250,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.732472,0.697299,0.692965,0.599321,0.535393,0.651490,0.072906,7
3,0.004803,5.530738e-03,0.000640,0.000834,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.697269,0.557961,0.547765,0.599870,0.637643,0.608102,0.054856,12
4,0.001926,2.094131e-03,0.000207,0.000414,squared_error,None,best,"{'criterion': 'squared_error', 'max_features':...",0.717637,0.570858,0.754732,0.649208,0.677968,0.674081,0.062754,2
5,0.004604,5.638441e-03,0.000000,0.000000,squared_error,None,random,"{'criterion': 'squared_error', 'max_features':...",0.606834,0.617895,0.665273,0.499828,0.619966,0.601959,0.054848,14
6,0.015627,9.536743e-07,0.003125,0.006250,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.637272,0.516341,0.626903,0.380187,0.673939,0.566928,0.107171,17
7,0.012501,6.250429e-03,0.003125,0.006251,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.693280,0.605791,0.734768,0.536995,0.624535,0.639074,0.069043,9
8,0.018750,6.250644e-03,0.000000,0.000000,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.749402,0.611348,0.579519,0.450927,0.630467,0.604333,0.095840,13
9,0.018749,6.249809e-03,0.000000,0.000000,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.744162,0.602197,0.586125,0.574549,0.618990,0.625204,0.061338,11
10,0.034373,6.250811e-03,0.000000,0.000000,absolute_error,None,best,"{'criterion': 'absolute_error', 'max_features'...",0.738136,0.621473,0.618006,0.529261,0.659833,0.633342,0.067665,10
11,0.025000,7.654344e-03,0.000000,0.000000,absolute_error,None,random,"{'criterion': 'absolute_error', 'max_features'...",0.685969,0.670903,0.707695,0.616728,0.602370,0.656733,0.040518,5
12,0.003125,6.250095e-03,0.000000,0.000000,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.686111,0.638461,0.568050,0.648163,0.688075,0.645772,0.043627,8
13,0.000000,0.000000e+00,0.006250,0.007655,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.721998,0.633188,0.611225,0.638622,0.653143,0.651635,0.037672,6
14,0.000000,0.000000e+00,0.000000,0.000000,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.761173,0.787879,0.559896,0.516602,0.695721,0.664254,0.108035,4
15,0.000000,0.000000e+00,0.003125,0.006250,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.646038,0.498320,0.495841,0.471799,0.616479,0.545696,0.071091,18
16,0.003030,6.060696e-03,0.003125,0.006250,friedman_mse,None,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.690058,0.566247,0.776259,0.621854,0.683081,0.667500,0.070592,3
17,0.001117,2.233696e-03,0.000000,0.000000,friedman_mse,None,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.718095,0.705994,0.753468,0.640186,0.592127,0.681974,0.057986,1
18,0.003125,6.249714e-03,0.000000,0.000000,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
19,0.000000,0.000000e+00,0.000000,0.000000,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
20,0.000000,0.000000e+00,0.000000,0.000000,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
21,0.000000,0.000000e+00,0.000000,0.000000,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
22,0.000000,0.000000e+00,0.000000,0.000000,poisson,None,best,"{'criterion': 'poisson', 'max_features': None,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
23,0.000000,0.000000e+00,0.000000,0.000000,poisson,None,random,"{'criterion': 'poisson', 'max_features': None,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24

In [25]:
import pickle
filename="finalized_model_Decisiontree.sav"                      
filename1="scx.pkl"
filename2="scy.pkl"
pickle.dump(scx,open(filename1,'wb'))
pickle.dump(scy,open(filename2,'wb'))

In [26]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:34
BMI:45
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [28]:
Preinput = scx.transform([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

C:\Users\user\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [29]:
scx=pickle.load(open("scx.pkl",'rb'))
scy=pickle.load(open("scy.pkl",'rb'))

In [30]:
Future_Prediction=grid.predict(Preinput)

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[2.77654778]

In [31]:
preoutput=scy.inverse_transform([Future_Prediction])

In [32]:
preoutput

array([[46200.9851]])