In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
independent = sc.fit_transform(independent)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':["squared_error","absolute_error","friedman_mse","poisson"],
'max_features': ["sqrt","log2",None],
'splitter':["best","random"]}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,cv=5,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2', None],
                         'splitter': ['best', 'random']},
             verbose=3)

In [13]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'splitter': 'best'}: 0.998667156135576

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015631,8.714517e-07,0.003126,0.006252,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.726521,0.639751,0.743359,0.742289,0.761275,0.722639,0.042881,1
1,0.000000,0.000000e+00,0.006253,0.007658,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.592560,0.452744,0.669937,0.689777,0.665946,0.614193,0.087215,20
2,0.015631,1.398361e-06,0.003126,0.006252,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.670107,0.687011,0.691399,0.681400,0.719332,0.689850,0.016376,9
3,0.006251,7.656291e-03,0.009377,0.007657,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.685888,0.541729,0.639764,0.673588,0.673719,0.642938,0.052887,15
4,0.006252,7.656583e-03,0.003126,0.006252,squared_error,None,best,"{'criterion': 'squared_error', 'max_features':...",0.730821,0.613488,0.735607,0.700293,0.681183,0.692279,0.044177,8
5,0.012708,6.358072e-03,0.000000,0.000000,squared_error,None,random,"{'criterion': 'squared_error', 'max_features':...",0.671407,0.529789,0.730623,0.724183,0.702188,0.671638,0.073885,12
6,0.043698,1.174090e-02,0.003127,0.006253,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.704627,0.599805,0.727007,0.714185,0.756848,0.700494,0.053332,4
7,0.031261,2.532180e-06,0.000000,0.000000,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.699767,0.565026,0.750867,0.578243,0.555601,0.629901,0.079890,17
8,0.046892,1.397889e-02,0.003126,0.006253,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.693689,0.557818,0.486568,0.722593,0.583571,0.608848,0.087557,21
9,0.037511,7.658043e-03,0.003126,0.006253,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.694573,0.519094,0.661751,0.649389,0.693425,0.643647,0.064723,14
10,0.068767,1.250415e-02,0.003126,0.006253,absolute_error,None,best,"{'criterion': 'absolute_error', 'max_features'...",0.754775,0.604432,0.721743,0.728064,0.755253,0.712854,0.055894,2
11,0.059393,1.822890e-02,0.000000,0.000000,absolute_error,None,random,"{'criterion': 'absolute_error', 'max_features'...",0.634887,0.577491,0.610404,0.753687,0.718168,0.658928,0.066412,13
12,0.009378,7.657108e-03,0.003126,0.006252,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.738130,0.643623,0.765424,0.691400,0.646066,0.696929,0.048679,5
13,0.006253,7.658043e-03,0.003126,0.006252,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.705264,0.571068,0.724067,0.658198,0.728678,0.677455,0.058752,10
14,0.015631,1.284809e-06,0.000000,0.000000,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.737173,0.667189,0.800025,0.452110,0.720250,0.675349,0.119402,11
15,0.006251,7.656232e-03,0.006252,0.007657,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.768773,0.566489,0.702915,0.641292,0.484699,0.632834,0.099808,16
16,0.012503,6.251621e-03,0.003126,0.006252,friedman_mse,None,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.736796,0.652109,0.734671,0.706964,0.680491,0.702206,0.032417,3
17,0.003127,6.253242e-03,0.003126,0.006252,friedman_mse,None,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.679332,0.634233,0.717602,0.693165,0.754179,0.695702,0.039880,6
18,0.012504,6.251860e-03,0.003127,0.006253,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.703155,0.453252,0.569826,0.582005,0.600684,0.581785,0.079689,24
19,0.006252,7.657225e-03,0.000000,0.000000,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.617274,0.554968,0.604368,0.626776,0.635337,0.607745,0.028323,22
20,0.012504,1.169691e-02,0.003126,0.006252,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.669990,0.417297,0.617034,0.651894,0.609158,0.593075,0.090671,23
21,0.006252,7.657517e-03,0.003126,0.006251,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.633168,0.509084,0.676322,0.659201,0.628770,0.621309,0.058742,18
22,0.009378,7.657186e-03,0.003126,0.006251,poisson,None,best,"{'criterion': 'poisson', 'max_features': None,...",0.700453,0.611338,0.702073,0.749891,0.698231,0.692397,0.044875,7
23,0.006252,7.656875e-03,0.000000,0.000000,poisson,None,random,"{'criterion': 'poisson', 'max_features': None,...",0.585935,0.494343,0.681228,0.648069,0.670224,0.615960,0.069178,19

In [16]:
import pickle
filename="finalized_model_Decisiontree.sav"
pickle.dump(grid,open(filename,'wb'))

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:33
BMI:45
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [18]:
loaded_model=pickle.load(open("finalized_model_Decisiontree.sav",'rb'))

In [19]:
Preinput = sc.fit_transform([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

In [20]:
Future_Prediction=grid.predict(Preinput)

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[6123.5688]