In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
independent=sc.fit_transform(independent)

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [13]:
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':["squared_error","absolute_error","friedman_mse","poisson"],
'max_features':["sqrt","log2",None],
'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(),param_grid,refit=True,cv=5,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2', None],
                         'n_estimators': [10, 100]},
             verbose=3)

In [14]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.9768329199455317

In [15]:
table=pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.081277,0.011694,0.006251,7.655765e-03,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.823102,0.760037,0.851904,0.793322,0.821604,0.809994,0.031102,17
1,0.619428,0.018757,0.034387,6.254005e-03,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.859994,0.782457,0.860466,0.832359,0.840974,0.835250,0.028553,2
2,0.075313,0.011778,0.012505,6.252528e-03,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.857704,0.770946,0.842898,0.812766,0.826100,0.822083,0.029732,11
3,0.606438,0.011697,0.037511,7.658413e-03,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.860128,0.779905,0.863339,0.826936,0.843221,0.834706,0.030339,3
4,0.084403,0.007657,0.009381,7.659289e-03,squared_error,None,10,"{'criterion': 'squared_error', 'max_features':...",0.835165,0.759962,0.847596,0.805885,0.834782,0.816678,0.031492,13
5,0.753543,0.011698,0.031261,8.529922e-07,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.851155,0.774264,0.861844,0.818376,0.841572,0.829442,0.031098,7
6,0.282074,0.011430,0.009378,7.656758e-03,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.837255,0.772028,0.860039,0.815225,0.841985,0.825306,0.030224,9
7,2.543334,0.021225,0.029904,5.890384e-03,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.860508,0.779808,0.857237,0.826276,0.843077,0.833381,0.029393,5
8,0.269072,0.006134,0.006253,7.658919e-03,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.839741,0.765004,0.851707,0.817837,0.825018,0.819861,0.029831,12
9,2.563329,0.058198,0.031261,1.457282e-06,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.858990,0.778650,0.862251,0.824461,0.840821,0.833035,0.030394,6
10,0.437635,0.009884,0.009379,7.657731e-03,absolute_error,None,10,"{'criterion': 'absolute_error', 'max_features'...",0.836444,0.749602,0.841559,0.800883,0.829421,0.811582,0.034032,16
11,4.326012,0.059805,0.037571,7.774411e-03,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.840965,0.768220,0.855949,0.820260,0.837422,0.824563,0.030373,10
12,0.065725,0.011813,0.006251,7.656174e-03,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.851764,0.749427,0.846762,0.818978,0.815557,0.816498,0.036511,14
13,0.554759,0.006939,0.031259,1.059824e-06,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.863633,0.777477,0.859529,0.830676,0.846197,0.835502,0.031219,1
14,0.068975,0.007117,0.002868,3.513078e-03,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.840612,0.756784,0.840107,0.812581,0.827787,0.815574,0.031123,15
15,0.567034,0.007467,0.028419,3.590286e-03,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.854662,0.786300,0.857769,0.830354,0.841234,0.834064,0.025818,4
16,0.081303,0.006239,0.000000,0.000000e+00,friedman_mse,None,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.821606,0.742740,0.838190,0.810405,0.817147,0.806017,0.032940,18
17,0.766611,0.034242,0.033105,3.690911e-03,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.849805,0.773503,0.854378,0.816946,0.842835,0.827494,0.029940,8
18,0.090196,0.006014,0.003126,6.252098e-03,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.798874,0.698741,0.783887,0.762127,0.739380,0.756602,0.035232,24
19,0.841691,0.006251,0.034388,6.254555e-03,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.812159,0.717094,0.823215,0.793880,0.784110,0.786092,0.037102,21
20,0.093780,0.000001,0.001703,3.405762e-03,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.786684,0.682818,0.817053,0.766105,0.744660,0.759464,0.045156,23
21,0.838934,0.015857,0.030471,1.573280e-03,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.807028,0.732393,0.825830,0.794417,0.781757,0.788285,0.031512,20
22,0.136298,0.008056,0.006252,7.656991e-03,poisson,None,10,"{'criterion': 'poisson', 'max_features': None,...",0.803195,0.731854,0.780111,0.816595,0.766206,0.779592,0.029613,22
23,1.110542,0.014145,0.023570,1.008222e-02,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.817183,0.749700,0.825247,0.829622,0.803362,0.805023,0.029070,19